@model Travel.Models.Review


@{
    /**/

    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<h2>New Review</h2>

@using (Html.BeginForm("Create", "Review"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.nameReview)
        @Html.TextBoxFor(m => m.nameReview, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.nameReview)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.locationReview)
        @Html.TextBoxFor(m => m.locationReview, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.locationReview)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.relevanceReview)
        @Html.TextBoxFor(m => m.relevanceReview, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.relevanceReview)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.overallRating)
        @Html.TextBoxFor(m => m.overallRating, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.overallRating)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.descriptionReview)
        @Html.TextBoxFor(m => m.descriptionReview, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.descriptionReview)
    </div>

    @Html.HiddenFor(m => m.idReview)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

